/* Top.css */
@keyframes expandBorder {
    0% {
        width: 27rem;
        height: 27rem;
        opacity: 1;
    }
    100% {
        width: 27rem;
        height: 33rem;
        opacity: 0;
    }
}

.animate-expandBorder {
    animation: expandBorder 3s linear infinite;
}

.delay-0 {
    animation-delay: 0.4s;
}

.delay-200 {
    animation-delay: 0.8s;
}

.delay-400 {
    animation-delay: 1.2s;
}

.delay-600 {
    animation-delay: 1.8s;
}

.delay-800 {
    animation-delay: 2.4s;
}

.delay-1000 {
    animation-delay: 3s;
}

.stop-animation:hover .animate-expandBorder {
    animation-play-state: paused;
}

.stop-animation .animate-expandBorder {
    animation-play-state: running;
}

.profileCircle{
    width: 27rem;
    height: 27rem;
}